{% load static %}

<!DOCTYPE html>
<html>

	{% include "include/head.html" %}

	{% block head %}
	{% endblock %}

	<body>
	
		<div class="header">
			<div class="header-left">
				<div class="menu-icon bi bi-list">
					
				</div>
			</div>
			<div class="header-right">
				
			
				<div class="user-info-dropdown">
					<div class="dropdown">
						<a
							class="dropdown-toggle"
							href="#"
							role="button"
							data-toggle="dropdown"
						>
							<span class="user-icon">
								<img src="{% static 'vendors/images/user.svg' %}" alt="" />
							</span>
							{% if user.is_authenticated %}
							<span class="user-name">{{ user.first_name }}</span>
							{% endif %}
						</a>
						<div
							class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
						>
							
						
							<a class="dropdown-item" href="{% url 'logout' %}"
								><i class="dw dw-logout"></i> Cerrar Sesion</a
							>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12"
						>User Interface Settings</span
					>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
		
		</div>

		<div class="left-side-bar">
			<div class="brand-logo">
				<a href="{% url 'index' %}">
		
					<img src="{% static 'logo.png' %}" width="50", height="50" />
					
					<label style="font-size:15px; margin-left:2px; margin-top:5px; display: inline-block"> Colegio de Retos
				</a>
				<div class="close-sidebar" data-toggle="left-sidebar-close">
					<i class="ion-close-round"></i>
				</div>
			</div>
			<div class="menu-block customscroll">
				<div class="sidebar-menu">
					<ul id="accordion-menu">
						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi bi-house"></span
								><span class="mtext">Incio</span>
							</a>
							<ul class="submenu">
								<li><a href="{% url 'index' %}">Dashboard</a></li>
		
							</ul>
						</li>
						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi bi-textarea-resize"></span
								><span class="mtext">Mantenimientos</span>
							</a>
							<ul class="submenu">
								<li><a href="{% url 'gestionarestudiante'%}">Gestionar Estudiantes</a></li>
								<li>
									<a href="{% url 'gestionarcurso'%}">Gestionar Cursos</a>
								</li>
								<li><a href="{% url 'gestionarinscripciones'%}">Gestionar Inscripciones</a></li>
							</ul>
						</li>
				
					
					
					</ul>
				</div>
			</div>
		</div>
		<div class="mobile-menu-overlay"></div>

		<div class="main-container">
			<div class="xs-pd-20-10 pd-ltr-20">

				{% block content %}



				{% endblock %}

				
			</div>
		</div>

	
		{% block js  %}
		
		

		{% endblock js  %}
	
		<!-- js -->
		{% include 'include/footerjs.html' %}
	</body>
</html>
